.cabecalho{
 background-color: var(--fundo-azul);
 margin: 0;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    width: 45px;
    height: 45px;
}


.container__titulo, .container__imagem,.container__frase{
    padding: 0.1em;
    color: white;
}

.container__titulo, .container__frase{
    display: flex;
}
cx-texto{
    display: flex;
    justify-content: center;
}
.orientacao3{
    display: block;
    font-size: 30px;
    color: orangered;
    border: 3px solid white;
    margin-top: 3em;
    padding: 1em;

}
.orientacao, .orientacao2{
    display: none;
}


@media screen and (min-width:768px ) {
  .container__titulo{
    font-size: 30px; 
    display: inline-block;
}

.container__titulo{
    font-weight: 400;
}

.orientacao2{
    display: block;font-size: 30px;
    color: white;
    border: 3px solid black;
    margin-top: 3em;
    padding: 1em;


}

.orientacao,.orientacao3{
    display: none;
}
}
@media screen and () {
    
}